.Button {
    margin: 0;
    padding: 0;
    width: 186px;
    height: 46px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.Save {
    background-color: #F50634;
    color: white;
    font-size: 18px;
}

.Saved {
    background-color: #B9B9B9;
}